<!DOCTYPE html>
<html lang="en">
<head>
  <title>Breast Cancer Prediction Using Machine Learning</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
  .div-center {
  width: 500px;
  height: 1000px;
  background-color:#5e6eb9;
  position:all;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  padding: 1em 2em;
  border-bottom: 2px solid #ccc;
  display: table;
  margin-top: 1cm;
  
}
.back {
  width: 100%;
  top: 0;
  bottom: 0;
}
.text-center{
  max-width: auto;
  text-align: center;
}


div.content {
  display: table-cell;
  vertical-align: middle;
}
</style>
<body>


  <div class="container-fluid" style="background-color: #9ab0ec;height: 1000px;position: all;" >
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Breast Cancer Prediction</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="index">Home</a></li>
          <li><a href="prediction">Prediction</a></li>
          <li><a href="about">About</a></li>
        </ul>
      </div>
    </nav>

    <h1 >Breast Cancer Prediction</h1>      
    <p>Prediction over<b> 98%</b> accuracy.</p>
    <p style="font-size: 1.2em;">
      The dataset has been taken from UCI machine learning repository. The main objective of the analysis is to perform classification of tumors i.e., benign(B) or malignant(M). A benign tumor is a tumor that does not invade its surrounding tissue or spread around the body. A malignant tumor is a tumor that may invade its surrounding tissue or spread around the body. This dataset consists of 569 rows and 32 columns.Out of which 6 attributes is enough for our prediction model.
    </p>
    <p>
      Data Source: <a href= "https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+%28Diagnostic%29">https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+%28Diagnostic%29</a>
    </p>

    <h4>Attribute Informations</h4>
    <p>
      <ul>
        <li>radius (mean of distances from center to points on the perimeter).</li>
        <li>texture (standard deviation of gray-scale values).</li>
        <li>smoothness (local variation in radius lengths).</li>
        <li>compactness (perimeter^2 / area - 1.0).</li>
        <li>symmetry.</li>
        <li>fractal dimension ("coastline approximation" - 1).</li>
      </ul>
    </p>
    <div class="row" style="margin:auto;">
      <div class="col-sm-6" style="padding: auto">
        <h2 style="text-align: center;">Benign Tumors</h2>
        <p style="font-size: 1.2em;">
          Since benign tumors are harmless, doctors may opt to leave the lump alone rather than remove it. If you are experiencing discomfort, irritation or pressure, let your doctor know so that she can plan to remove it for you and improve your comfort. 
        </p>
      </div>
      <div class="col-sm-6" style="padding: auto">
        <h2 style="text-align: center;">Malignant tumors</h2>
        <p style="font-size: 1.2em;">
          Malignant tumors are cancerous and aggressive because they invade and damage surrounding tissue. When a tumor is suspected to be malignant, the doctor will perform a biopsy to determine the severity or aggressiveness of the tumor.
        </p>
      </div>
    </div>

  </div>


</body>
